/* NAVBAR */

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

li.navbar {
  float: left;
}

li.navbar a {
  display: block;
  color: #e8e8e8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


/* END NAVBAR */